h1#header, #share-buttons {
  margin-left: auto;
  margin-right: auto;
  width:500px;
  text-align: center;
}

.hangout {
  background-color: #8A9B0F;
}

.hangout:hover {
  background-color: #718200;
}

.hangout_onair {
  background-color: #ffd303;
}

.hangout_onair:hover {
  background-color: #CCA000;
}

.hangout_extension {
  background-color: #3DA9BB;
}

.hangout_extension:hover {
  background-color: #2490A2;
}

.onair_extension {
  background-color: #E97F02;
}

.onair_extension:hover {
  background-color: #D06600;
}

#disqus_thread {
  padding-top: 10px;
}

.hidden {
  display: none;
}

#share-buttons img {
  width: 35px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
}
