h1#header, #share-buttons {
  margin-left: auto;
  margin-right: auto;
  width:500px;
  text-align: center;
}

.hangout {
  background-color: #1fa2ed;
}

.hangout:hover {
  background-color: #006FBA;
}

.hangout_onair {
  background-color: #ffd303;
}

.hangout_onair:hover {
  background-color: #CCA000;
}

.extension {
  background-color: #dd4b39;
}

.extension:hover {
  background-color: #AA1806;
}

#disqus_thread {
  padding-top: 10px;
}

.hidden {
  display: none;
}

#share-buttons img {
  width: 35px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
}
